
  <%- include('../partials/head'); %>

  <body>
    <h1>Local Library Home</h1>
 
    <div class="container">
    <nav>
      <%- include('../partials/header'); %>
    </nav>
    <main>
        <section class="content">
          <%- include(partial) %>
        </section>
     
      
    </main>
    
    </div>
  </body>