body {
  padding: 2rem 1rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  min-width: max-content;
}

.container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  min-width: 425px;
}
